.graph {
	vertical-align: middle;
	position: relative;
	display: block;
	width: 150px;
	height: 1em;
	border: solid 1px gray;
	background-color: lightgrey;
}

.graph .bar {
	display: block;
	position: absolute;
	height: 100%;
	width: 0%;
	color: darkgrey;
}

ul input,
ul label {
	cursor: pointer;
	margin: 0;
}

ul label {
	border-radius: 3px;
	padding: 5px;
	background: #E0E0E0;
	display: inline-block;
	vertical-align: top;
}

ul li+li {
	margin-top: 5px;
}

ul .selected label,
ul label:hover {
	background: #D0D0D0;
}

ul.proposals .description {
	display: block;
	font-size: 85%;
	white-space: pre-line;
}