.graph {
	vertical-align: middle;
	position: relative;
	display: block;
	width: 150px;
	height: 1em;
	border: solid 1px gray;
	background-color: lightgrey;
}

.graph .bar {
	display: block;
	position: absolute;
	height: 100%;
	width: 0%;
	color: darkgrey;
}
