html,
body {
	background-color: #E8E8E8;
	color: #333;
	margin: 0;
	padding: 0;
}
body>div#page {
	background-color: #f0f0f0;
	width: 920px; /* 920+40=960 */
	margin: 0 auto;
	padding: 10px 20px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
	text-align: left;
}

a { color: #000; }
a:visited { color: #666; }
a:hover,
a.button:hover ,
.button a:hover { color: #fff; background-color:#000; }

a.button,
.button a {
	text-decoration: none;
}

.button_to {
	display: inline-block;
}

.static_message {
	clear: right;
	float: right;
}
.button.static_message {
	padding: 10px;
}

a.button,
.button a {
	background-color: lightgray;
	border: solid black 1px;
	border-radius: 5px;
	padding: 2px 7px;
	margin: 1px;
}
a.button {
	display: inline-block;
}

.suspended {
	background-color: #E0E0E0;
}
.suspended .suspended {
	background-color: #D0D0D0;
}

table.themes td,
table.themes td>ul {
	padding-left: 20px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.inactive {
	background: #EEEEEE;
}

