<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @theme.title %>
</p>

<h2>Proposals</h2>
<p>[TODO: list proposals]</p>

<%= link_to 'Edit', edit_admin_theme_path(@theme) %> |
<%= link_to 'Back', admin_themes_path %>
